services:
  redis:
    image: redis:7-alpine
    container_name: projeto-driver-redis
    ports:
      - '6379:6379'
    command:
      [
        'redis-server',
        '--appendonly',
        'no',
        '--maxmemory',
        '256mb',
        '--maxmemory-policy',
        'allkeys-lru'
      ]
    restart: unless-stopped
